html {
    box-sizing:border-box;
}

*,::before,::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 72px;
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font: 16px/1.5 'OpenSans', Arial, Helvetica, sans-serif;
    color: #333333;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.wrapper-main {
    color: #FFFFFF;
    background: url(/images/bg/hero.jpg) center top no-repeat, url(/images/bg/bottom-pic.jpg) right bottom 206px no-repeat;
    background-color: #001821;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.page-content {
    color: #303030;
    padding-top: 100px;
    padding-bottom: 90px;
}

.page-title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 90px;
}

.button__red-wide {
    display: inline-block;
    background-color: #ba0700;
    font-size: 14px;
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 52px;
    height: 52px;
    padding: 0 39px;
    color: #FFFFFF;
    border-radius: 26px;
    text-transform: uppercase;
}

.button__white {
    display: inline-block;
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    line-height: 52px;
    height: 52px;
    padding: 0 29px;
    color: #d21d16;
    border: solid 1px rgba(210, 29, 22, 0.4);
    border-radius: 26px;
    text-transform: uppercase;
    transition: background-color .3s, color .3s;
}

.button__white:hover {
    background-color: #d21d16;
    color: #FFFFFF;
}

.reviews {
    column-count: 2;
}

.reviews__item {
    display: inline-flex;
    border: 1px solid red;
    padding: 1rem;
    margin-bottom: 1rem;
}