.button {
    display: inline-block;
    background-color: #ba0700;
    font-size: 14px;
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 18px 40px;
    color: #FFFFFF;
    border-radius: 26px;
    text-transform: uppercase;
}

.button--theme-white {
    padding: 18px 30px;
    background-color: #FFFFFF;
    border: 1px solid #F5170E;
    color: #F5170E;
}

.button--theme-white:hover {
    background-color: #F5170E;
    color: #FFFFFF;
}

.button--theme-service {
    background-color: #FFFFFF;
    border: 1px solid #F5170E;
    color: #F5170E;
}
.button--theme-white:hover {
    background-color: #F5170E;
    color: #FFFFFF;
}