.control {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.control__elem {
    position: relative;
}

.control__tag {
    font-size: 13px;
    line-height: 1.4;
    padding: 9px 15px;
    background: #E7E7E7;
    color: #303030;
    border-radius: 35px;
}

.control__checkbox:checked + .control__tag {
    background: #B9EAE4;
}

.control__checkbox:focus + .control__tag {
    background: #B9EAE4;
    /* border: 1px solid #333333; */
}

.control__checkbox {
    display: none;
    appearance: none;
    -ms-progress-appearance: none;
    position: absolute;
}
