.control {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.control__elem {
    position: relative;
}

.control__tag {
    font-size: 13px;
    line-height: 1.15;
    padding: 9px 15px;
    background-color: #E7E7E7;
    color: #303030;
    border-radius: 35px;
    border: 2px solid transparent;
}

.control__checkbox:checked + .control__tag {
    background-color: #B9EAE4;
}

.control__checkbox:focus + .control__tag {
    border-color: #7f9794;
}


.control__checkbox {
    /* display: none; */
    appearance: none;
    -ms-progress-appearance: none;
    position: absolute;
}