
.hero {
    margin-bottom: 241px;
}

.hero__text-section {
    width: 510px;
}

.hero__title {
    line-height: 1.19;
    margin-bottom: 29px;
}

.hero__description {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 36px;
}