.news {
    margin-bottom: 150px;
}

.news__wrap {
    margin-bottom: 51px;
}

.news__main-title {
    margin-bottom: 46px;
}

.news__items {
    display: flex;
    justify-content: space-between;
}

.news__item {
    flex:1;
    margin-right: 2%;
}

.news__item:last-child {
    margin-right: 0;
}

.news-item {
    position: relative;
}

.news-item__link {
    display: block;
    color: inherit;
}

.news-item__link:hover .news-item__cover {
    opacity: 1;
}

.news-item__cover {
    border-radius: 6px;
    height: 391px;
    overflow: hidden;
    opacity: .7;
}

.news-item__picture {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.news-item__content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 165px;
    padding: 20px 40px 25px 31px;
}

.news-item__date {
    font-size: 14px;
    margin-bottom: 12px;
}

.news-item__item-title {
    margin-bottom: 3px;
}