.top-line {
    color: #ffffff;
    min-height: 412px;
    background: url(/images/bg/headline.jpg) center top / cover no-repeat #1a1b1e;
    padding-bottom: 20px;
}

.top-line__header {
    margin-bottom: 91px;
}

.top-line__promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}